{% extends 'base.html.twig' %}

{% block title %}Tout les categories{% endblock %}
{% block body %}
<h1>Categories</h1>
{% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la fiche</a>

        </div>
    {% else %}
    Aucune categories trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    
{% endblock %}